<h1 mat-dialog-title>About <code>transc&lt;&gt;de</code></h1>
<div mat-dialog-content>
  <p>Made with <span style="color: #673ab7;">&hearts;</span> at HackPSU 2019 Autumn by</p>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a href="https://nrubintech.com" target="_blank">
        <div class="left-right">
          <div class="left">
              <img class="profile" src="assets/nrubin29.jpeg"/>
          </div>
          <div class="right">
            Noah Rubin
          </div>
        </div>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://www.github.com/dsringari" target="_blank">
        <div class="left-right">
          <div class="left">
              <img class="profile" src="assets/dsringari.jpeg"/>
          </div>
          <div class="right">
            Dhruv Sringari
          </div>
        </div>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://github.com/hvl5451" target="_blank">
        <div class="left-right">
          <div class="left">
              <img class="profile" src="assets/hvl5451.png"/>
          </div>
          <div class="right">
            Hari Lakshmidevi
          </div>
        </div>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a href="https://nickalico.me" target="_blank">
        <div class="left-right">
          <div class="left">
              <img class="profile" src="assets/nro337.jpeg"/>
          </div>
          <div class="right">
            Nick Alico
          </div>
        </div>
      </a>
    </mat-list-item>
  </mat-list>
</div>
