.mat-dialog-title {
  color: #673ab7;
}

a {
  color: black;
  &:hover {
    color: #673ab7;
  }
}


.mat-list-item {
  padding: 0.5em 0 !important;
}

.mat-list-base {
  margin-top: 20px;
}

.left-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left {
  margin-right: 1em;
}

.profile {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
